@tailwind base;
@tailwind components;
@tailwind utilities;

body, #__nuxt {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

.apexcharts-canvas .apexcharts-svg {
    background: transparent !important;
}
